@font-face {
    font-family: Mukta;
    font-display: swap;
    src: url("../fonts/Mukta-Bold.woff2") format("woff2"), url("../fonts/Mukta-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom, #004CBE, #112775);
    overflow: hidden;
}

h1, p {
    position: absolute;
    color: #397fe7;
}

h1 {
    top: 10px;
    left: 20px;
    padding: 0px 10px;
}

.title {
    animation-name: moveTitle;
    animation-duration: 2000ms;
}

@keyframes moveTitle {
    0% {
        left: 20px;
    }
    25% {
        left: -30px;
    }
    50% {
        left: 200px;
    }
    100% {
        left: 20px;
    }
}

p {
    top: 60px;
    left: 20px;
    padding: 0px 10px;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    position: absolute;
    left: 30px;
    top: 112px;    
    box-sizing: border-box;
    z-index: 1;
    @media (orientation: landscape) and (max-width: 768px) {
        width: 30%;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #397fe7;
    border-radius: 7px;
    padding: 10px 0px 8px;
    width: 80px;
    max-width: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
    transition: all 100ms linear;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        background-color: #50a2ee;
    }
}

.btn-clear {
    background-color: #ff7598;
    &:hover {
        background-color: #ff92ad;
    }
}

a {
    text-decoration: none;
    color: #fff;
    font-family: "Mukta", sans-serif;
    font-size: 37px;
    &:hover {
        color: #004CBE;
    }
    @media (orientation: landscape) and (max-width: 768px) {
        font-size: 20px;
    }
}

@import "_cube";
