@font-face {
    font-family: Mukta;
    font-display: swap;
    src: url("../fonts/Mukta-Bold.woff2") format("woff2"), url("../fonts/Mukta-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom, #004CBE, #112775);
    overflow: hidden;
}

h1, p {
    position: absolute;
    color: #397fe7;
}

h1 {
    top: 10px;
    left: 30px;
    padding: 0px 10px;
}

p {
    top: 60px;
    left: 30px;
    padding: 0px 10px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40px;
    top: 112px;    
    background-color: #397fe7;
    border-radius: 7px;
    padding: 10px 0px 8px;
    width: 80px;
    max-width: 80px;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
    transition: all 100ms linear;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        background-color: #50a2ee;
    }
}

.btn-left {

}

.btn-right {
    left: 130px;
}

.btn-up {
    left: 220px;
}

.btn-down {
    left: 310px;
    
}

a {
    text-decoration: none;
    color: #fff;
    font-family: "Mukta", sans-serif;
    font-size: 37px;
    &:hover {
        color: #004CBE;
    }
    @media screen and (max-width: 768px) {
        font-size: 23px;
    }
    @media screen and (max-height: 500px) {
        font-size: 18px;
    }
}

@import "_cube";
